<a href="https://colab.research.google.com/github/calmrocks/master-machine-learning-engineer/blob/main/data/DataClenaup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Common Data Cleaning Techniques

1. **Handling Missing Values**
    - **Dropping missing values**: If a feature or record has too many missing values, it may be best to remove it entirely. However, this approach may lead to a loss of valuable data if used extensively.
    - **Imputing missing values**: For numerical features, you can replace missing values with the mean, median, or mode. For categorical features, the most common value or a placeholder (e.g., "unknown") may be used.
    - **Predictive imputation**: For more sophisticated handling, use machine learning models to predict missing values based on other features. Techniques such as k-nearest neighbors (KNN) imputation can fill in missing data using similar observations.

2. **Outlier Detection and Removal**
    - **Statistical methods**: Use the interquartile range (IQR) or Z-score method to identify outliers. Outliers that fall below or above a certain threshold can be removed or capped.
    - **Domain knowledge**: Sometimes, outliers may actually represent valid data points. Consult domain experts to determine whether outliers should be removed or retained.
    - **Winsorizing**: Replace extreme values with values closer to the mean or median to reduce the effect of outliers without removing data points.

3. **Removing Duplicates**
    - Duplicate records can skew the distribution of data and lead to biased model outcomes. Use duplicate detection techniques to identify and remove duplicate entries, especially in transactional data where repeated records are common.

4. **Standardizing Formats**
    - **Text standardization**: For textual data, convert all text to lowercase, remove special characters, and standardize abbreviations (e.g., “N.Y.” to “New York”).
    - **Date and time formatting**: Convert date and time information to a standardized format (e.g., `YYYY-MM-DD`) to make it easier to work with time-series data.
    - **Categorical standardization**: Standardize categories to ensure consistency across records (e.g., “M” and “Male” both converted to “Male”).

5. **Handling Inconsistent Data Entries**
    - Inconsistent data entries, such as different spellings or formats for the same value, can lead to errors during analysis. For instance, entries like “CA,” “California,” and “Calif” should be standardized to one consistent format.

6. **Removing Irrelevant Features**
    - Some features may not add value to the analysis and can be removed. Use domain knowledge or correlation analysis to identify irrelevant or redundant features.

### Using the Titanic Dataset for Data Cleaning

The **Titanic dataset** contains information about passengers on the Titanic, including details like age, gender, ticket class, and whether they survived. This dataset includes various data issues such as missing values, categorical variables, outliers, and inconsistent entries, allowing us to demonstrate all data cleaning techniques effectively.

#### Why the Titanic Dataset?

- **Variety of Issues**: The Titanic dataset includes missing values, outliers, categorical variables, and irrelevant features.
- **Real-World Relevance**: Its mix of numerical and categorical data reflects typical real-world datasets.
- **Built-in Accessibility**: Available in popular Python libraries like `seaborn`, making it easy to use without external downloads.

The Titanic dataset effectively demonstrates data cleaning techniques while being straightforward to understand and visualize.

#### Loading the Titanic Dataset

We can load the Titanic dataset using `seaborn` or directly download it from online repositories.

In [1]:
# Import necessary libraries
import pandas as pd
import seaborn as sns

In [2]:
# Load the Titanic dataset
titanic = sns.load_dataset('titanic')
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

##### 1. Handling Missing Values
The Titanic dataset contains missing values in columns like `age`, `embark_town`, and `deck`.

In [4]:
# Check for missing values
print(titanic.isnull().sum())

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
# Impute missing numerical values with the median
titanic['age'] = titanic['age'].fillna(titanic['age'].median())

In [6]:
# Impute missing categorical values with the most frequent value
titanic['embark_town'] = titanic['embark_town'].fillna(titanic['embark_town'].mode()[0])

In [7]:
# Drop columns with a high percentage of missing values (e.g., deck)
titanic = titanic.drop(columns=['deck'])

In [8]:
# Check for missing values
print(titanic.isnull().sum())

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

##### 2. Outlier Detection and Removal
We can identify outliers in numerical columns like `fare` using the interquartile range (IQR) method.

In [9]:
# Detect and remove outliers using IQR
Q1 = titanic['fare'].quantile(0.25)
Q3 = titanic['fare'].quantile(0.75)
IQR = Q3 - Q1
titanic = titanic[~((titanic['fare'] < (Q1 - 1.5 * IQR)) | (titanic['fare'] > (Q3 + 1.5 * IQR)))]

##### 3. Removing Duplicates
Duplicate rows can occur due to errors in data collection.

In [13]:
# Remove duplicate rows
titanic = titanic.drop_duplicates()

##### 4. Standardizing Formats
Inconsistent formats can lead to errors during analysis. For example, `embark_town` entries should be consistent.

In [15]:
# Standardize categorical values
titanic['embark_town'] = titanic['embark_town'].replace({'S': 'Southampton', 'C': 'Cherbourg', 'Q': 'Queenstown'})

##### 5. Handling Inconsistent Data Entries
Columns like `embark_town` might have inconsistent abbreviations or spellings.

In [16]:
# Replace inconsistent abbreviations with full names
titanic['embark_town'] = titanic['embark_town'].replace({'S': 'Southampton', 'C': 'Cherbourg', 'Q': 'Queenstown'})

##### 6. Removing Irrelevant Features
Not all features are useful for analysis. For example, `name` might not contribute to the survival prediction.

In [18]:
# Remove irrelevant columns
titanic = titanic.drop(columns=['ticket'])

KeyError: "['ticket'] not found in axis"

#### Cleaned Dataset

After applying these techniques, the dataset is now clean and ready for analysis.

In [19]:
# Display the cleaned dataset
print(titanic.head())
print(titanic.info())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third
5         0       3    male  28.0      0      0   8.4583        Q  Third

     who  adult_male  embark_town alive  alone
0    man        True  Southampton    no  False
2  woman       False  Southampton   yes   True
3  woman       False  Southampton   yes  False
4    man        True  Southampton    no   True
5    man        True   Queenstown    no   True
<class 'pandas.core.frame.DataFrame'>
Index: 665 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     665 non-null    int64
 1   pclass       665 non-null    int64
 2   sex          665 non-null    object
 3   age          665 non-null    float64
 4   sibsp        665 non-null    int64
 5   parch        665 non-null    int64
 6   fare         665 non-null    float64
 7   embarked     665 non-null    object
 8   class        665 non-null    category
 9   who          665 non-null    object
 10  adult_male   665 non-null    bool
 11  embark_town  665 non-null    object
 12  alive        665 non-null    object
 13  alone        665 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 64.4+ KB
None